.mainCard {
    text-align: start;
    cursor: pointer;
}

.withPointer {
    cursor: pointer;
}

.noPointer {
cursor: default;
}

.carousel .slide {
    background: rgba(0,0,0,0.2) !important;
}

.carousel .control-dots .dot {
    background: black !important;
}

.carousel-status {
    display: none;
}

.carousel.carousel-slider .control-arrow {
    background: rgba(0,0,0,0.2) !important;
}

.carousel.carousel-slider .control-arrow {
    background: rgba(0,0,0,0.5) !important;
}

.title {

}

.company .city {

}

.salary {

}

